@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}
.App {
  height: 100vh;
  background: rgb(160, 197, 239);
  display: flex;
  align-items: center;
  justify-content: center;
}